<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% capture query %}
        SELECT ?resource ?label WHERE{
            ex:MainNavItems ?navProperty ?resource .
            ?resource rdfs:label ?label .
            ?navProperty a rdfs:ContainerMembershipProperty .
        }
        ORDER BY ?navProperty
        {% endcapture %}
        {% assign mainnav = page.rdf | sparql_query: query %}
        {% for navitem in mainnav %}
          <li class="nav-link"><a href="/{{ navitem.resource | remove_first: baseurl }}">{{ navitem.label }}</a>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
