<nav class="navbar navbar-toggleable-md navbar-light nav-tabs bg-faded">
    <img src="http://aksw.org/extensions/site/sites//local/images/logo-aksw.png" width="auto" height="auto" alt="AKSW">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            {% for page in site.pages %}
            {% assign name = page.rdf | rdf_property: '<http://example.org/groupname>' %}
            {{ name }}
            {% if name == 'general' %}
            <a class="nav-link" href="{{page.url}}">Team</a>
            {% endif %}
            {% endfor %}
        </li>
        <li class="nav-item btn-group">
            <a class="dropdown-toggle nav-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% capture query %}
                SELECT ?resource ?name WHERE{
                    ?resource a ex:project ;
                    ex:projectname ?name
                }
                {% endcapture %}
                {% assign resultset = page.rdf | sparql_query: query %}
                {% for result in resultset %}
                {% for page in site.pages %}
                {% assign value1 = page.rdf.iri | downcase %}
                {% assign value2 = result.resource | downcase %}
                {% if value1 == value2 %}
                <a class="dropdown-item" href="{{page.url}}">{{result.name}}</a>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </li>
    </ul>
</nav>
