<!-- lefthand navbar with links to all gropus -->
<nav class="navbar nav-pills flex-column navbar-light bg-faded site-navigation">
    <ul class="navbar-nav mr-auto">
        {% capture query %}
        SELECT ?resource ?name WHERE{
            ?resource a ex:group ;
            rdfs:label ?name
        }
        {% endcapture %}
        {% assign resultset = page.rdf | sparql_query: query %}
        {% for result in resultset %}
        <li class="nav-item">
            <a class="nav-link" href="../{{ result.resource | remove_first: baseurl}}">{{result.name}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
