---
rdf_prefix_path: content.pref
layout: default
---
<div class="row">
{% include navleft.html %}

    <div class="container">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">Meet the Team</h3>
            <p class="p-top-30 half-txt">Let's meet our {{ page.rdf | rdf_property: 'rdfs:label'}} team!</p>
        </div>
        <div class="row">
            {% capture query %}
            SELECT DISTINCT ?person ?name ?title ?firstName ?familyName ?phone ?mbox ?status ?depiction WHERE{
                ?person a foaf:Person ;
                foaf:name ?name ;
                ex:group <{{ page.rdf.iri }}> .
                OPTIONAL { ?person foaf:familyName ?familyName }
                OPTIONAL { ?person foaf:firstName ?firstName }
                OPTIONAL { ?person foaf:title ?title }
                OPTIONAL { ?person foaf:status ?status }
                OPTIONAL { ?person foaf:depiction ?depiction }
                OPTIONAL { ?person foaf:mbox ?mbox }
                OPTIONAL { ?person foaf:phone ?phone }
            }
            {% endcapture %}
            {% assign resultset = page.rdf | sparql_query: query %}
            {% for result in resultset %}
            <div class="col-md-4 team-member">
                <div class="embed-responsive">
                    <div class="team-img">
                        <img src="{{ result.depiction }}" alt="team member" class="img-fluid" style="max-height:100%; max-width: auto; object-fit: contain">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>{{ result.title }} {{ result.firstName }} {{ result.familyName }}</h4>
                            <p><a href="{{ result.phone }}">{{ result.phone }}</a></p>
                            <p><a href="{{ result.mbox }}">{{ result.mbox }}</p>
                            </div>
                        </div>
                    </div>
                <div class="team-title">
                    {% for page in site.pages %}
                    {% if result.person.iri == page.rdf.iri %}
                        <h5><a href="{{ page.url }}">{{ result.name }}</a></h5>
                    {% endif %}
                    {% endfor %}
                    <span>{{ result.status }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
