---
rdf_prefix_path: persons.pref
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include navbar.html %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">{{ page.rdf | rdf_property: 'foaf:name' }}</h4>
                    <table class="table table-bordered table-hover">
                    <tbody>
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:title ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Title</td>
                            <td>{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:firstName ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>First Name</td>
                            <td>{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:familyName ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Family Name</td>
                            <td>{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:phone ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Phone</td>
                            <td><a href="{{ result.x }}">{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:mbox ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Email</td>
                            <td><a href="{{ result.x }}">{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:room ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Room</td>
                            <td>{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-block">
                    <img class="rounded float-left img-fluid" src="{{ page.rdf | rdf_property: 'foaf:depiction'}}" alt="Photo" style="padding: 0px; height: auto; max-width: 100%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">Current Projects</h4>
                    <p>content</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">Publications</h4>
                    <p>content</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
