---
rdf_prefix_path: content.pref
layout: default
---
<div class="row">
{% include navleft.html %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">{{ page.rdf | rdf_property: 'foaf:name' }}</h4>
                    <table class="table table-bordered table-hover">
                    <tbody>
                        {% assign title = page.rdf | rdf_property: 'foaf:title' %}
                        {% if title %}
                        <tr>
                            <td>Title</td>
                            <td>{{ title }}</td>
                        </tr>
                        {% endif %}
                        {% assign firstname = page.rdf | rdf_property: 'foaf:firstName' %}
                        {% if firstname %}
                        <tr>
                            <td>First Name</td>
                            <td>{{ firstname }}</td>
                        </tr>
                        {% endif %}
                        {% assign familyname = page.rdf | rdf_property: 'foaf:familyName' %}
                        {% if familyname %}
                        <tr>
                            <td>Family Name</td>
                            <td>{{ familyname }}</td>
                        </tr>
                        {% endif %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:phone ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Phone</td>
                            <td><a href="{{ result.x }}">{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> foaf:mbox ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Email</td>
                            <td><a href="{{ result.x }}">{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                        {% capture query %}
                        SELECT ?x WHERE{<{{page.rdf}}> ex:room ?x .}
                        {% endcapture %}
                        {% assign resultset = page.rdf | sparql_query: query %}
                        {% for result in resultset %}
                        <tr>
                            <td>Room</td>
                            <td>{{ result.x }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-block">
                    <img class="rounded float-left img-fluid" src="{{ page.rdf | rdf_property: 'foaf:depiction'}}" alt="Photo" style="padding: 0px; height: auto; max-width: 100%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-block">
                    <h4 class="card-title">Current Projects</h4>
                    <table class="table table-bordered table-hover">
                    <tbody>
                    {% capture query %}
                    SELECT ?project ?projectname WHERE{
                        <{{page.rdf}}> ex:project ?project .
                        ?project rdfs:label ?projectname .
                    }
                    {% endcapture %}
                    {% assign resultset = page.rdf | sparql_query: query %}
                    {% for result in resultset %}
                    {% for page in site.pages %}
                    {% if page.rdf.iri == result.project.iri %}
                    <tr>
                        <td><a href="{{page.url}}">{{result.projectname}}</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% capture query %}
        SELECT ?publication ?title WHERE{
            ?publication dc:author <{{page.rdf}}> .
            ?publication dc:title ?title .
        }
        {% endcapture %}
        {% assign resultset = page.rdf | sparql_query: query %}
        {% if resultset.size > 0 %}
        <div class="row">
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">Publications</h4>
                    <div class="list-group">
                    {% for result in resultset %}
                        {% for page in site.pages %}
                        {% if page.rdf.iri == result.publication.iri %}
                        <div class="list-group-item"><a href="{{page.url}}">{{ result.title }}</a></div>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
