---
rdf_prefix_path: content.pref
layout: default
---
{% assign baseurl = site.url %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">Our Projects</h4>
                    {% capture query %}
                    SELECT ?project ?description WHERE{
                        ?project a ex:project .
                        ?project ex:description ?description .
                    }
                    {% endcapture %}
                    {% assign resultset = page.rdf | sparql_query: query %}
                    <div class="list-group">
                    {% for result in resultset %}
                        <div class="list-group-item"><a href="../{{ result.project | remove_first: baseurl }}">{{ result.description }}</a></div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
