---
rdf_prefix_path: content.pref
layout: default
---
{% assign baseurl = site.url %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">Our Projects</h4>
                    <hr>
                    {% capture query %}
                    SELECT ?project ?description WHERE{
                        ?project a ex:project .
                        ?project ex:description ?description .
                    }
                    {% endcapture %}
                    {% assign resultset = page.rdf | sparql_query: query %}
                    <table class="table table-bordered table-hover">
                    <tbody>
                    {% for result in resultset %}
                    <tr>
                        <td><a href="../{{ result.project | remove_first: baseurl }}">{{ result.description }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
