---
rdf_prefix_path: content.pref
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include navbar.html %}

<div class="container">
    <div class="card">
        <div class="card-block">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">{{ page.rdf | rdf_property: 'dc:title' }}</h3>
            <p class="p-top-30 half-txt">a publication</p>
        </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-block">
                <h4 class="card-title">Authors</h4>
                <table class="table table-bordered table-hover">
                <tbody>
                {% capture query %}
                SELECT ?person ?name WHERE{
                    <{{page.rdf}}> dc:author ?person .
                    ?person foaf:name ?name .
                }
                {% endcapture %}
                {% assign resultset = page.rdf | sparql_query: query %}
                {% for result in resultset %}
                {% for page in site.pages %}
                {% assign value1 = page.rdf.iri | downcase %}
                {% assign value2 = result.person | downcase %}
                {% if value1 == value2 %}
                <tr>
                    <td><a href="{{page.url}}">{{result.name}}</a></td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-block">
                <h4 class="card-title">Abstract</h4>
                <p> {{ page.rdf | rdf_property: 'ex:longdescription' }}
            </div>
        </div>
    </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
