---
rdf_prefix_path: content.pref
layout: default
---
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-block">
                    <h4 class="card-title">Our Publications</h4>
                    {% assign baseurl = page.rdf | append: "/" | remove_first: page.rdf.page_url %}
                    {% capture query %}
                    SELECT ?publication ?title WHERE{
                        ?publication a ex:publication .
                        ?publication dc:title ?title .
                    }
                    {% endcapture %}
                    {% assign resultset = page.rdf | sparql_query: query %}
                    <div class="list-group">
                        {% for result in resultset %}
                        <div class="list-group-item"><a href="{{ result.publication | remove_first: baseurl }}/">{{ result.title }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
