---
rdf_prefix_path: content.pref
layout: default
---
{% assign baseurl = site.url %}
<div class="wrapper">
    <div class="page">
        <h2 style="text-align: center">Our Publications</h2>
        {% include page_divider.html %}
        {% capture query %}
        SELECT ?publication ?title WHERE{
            ?publication a ex:publication .
            ?publication dc:title ?title .
        }
        {% endcapture %}
        {% assign resultset = page.rdf | sparql_query: query %}
        <table class="table table-bordered table-hover">
            <tbody>
                {% for result in resultset %}
                <tr>
                    <td><a href="../{{ result.publication | remove_first: baseurl }}">{{ result.title }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
