---
rdf_prefix_path: content.pref
layout: default
---
{% assign baseurl = site.url %}
<div class="wrapper">
<div class="page">
            <h2 style="text-align: center">{{ page.rdf | rdf_property: 'dc:title' }}</h2>
            <p class="half-txt">a publication</p>
            <hr>
                <h4>Authors</h4>
                <table class="table table-bordered table-hover">
                <tbody>
                {% capture query %}
                SELECT ?person ?name WHERE{
                    <{{page.rdf}}> dc:author ?person .
                    ?person foaf:name ?name .
                }
                {% endcapture %}
                {% assign resultset = page.rdf | sparql_query: query %}
                {% for result in resultset %}
                <tr>
                    <td><a href="../{{ result.person | remove_first: baseurl }}">{{result.name}}</a></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                <h4>Abstract</h4>
                <p> {{ page.rdf | rdf_property: 'ex:longdescription' }}

    </div>
</div>
